@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rubik", "Monserrat", sand-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #172026;
    padding: 1.5em 0;
}

nav {
    margin: 0 auto;
    width: 80%;
}
nav ul  {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

nav ul li a {
    margin: auto 0.5em;
    color : white;
}

nav ul li a:hover {
    color:#5FCDD9;
    border-bottom: 1px solid #5FCDD9;
    padding-bottom: 0.15em;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 0.15em;
}


@media screen and (max-width: 513px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }


    nav ul li:hover {
        background-color: #5FCDD9;
    }

    nav ul li a:hover {
        color: white;
        border-bottom :none;
    }
}