@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --color1: #201473;
  --color2: #272b73;
  --color3: #2e608c;
  --color4: #499ebf;
  --color5: #5cf2e3;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", "Monserrat", sand-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: var(--color1);
  padding: 1.5em 0;
  z-index: 2;
  position: relative;
}

nav {
  margin: 0 auto;
  width: 80%;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

nav ul li a {
  margin: auto 0.5em;
  color: white;
}

nav ul li a:hover {
  color: var(--color5);
  border-bottom: 1px solid var(--color5);
  padding-bottom: 0.15em;
  font-weight: bold;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0.15em;
}

main {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100vw;
  /* padding: 0 2em; */
}

article {
  padding: 0 5em;
}

.home {
  padding: 5em;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  /* min-height: 100vh; */
  /* position: absolute; */
  /* left: 0; */

  display: flex;
  flex-direction: column;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/rack-server.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
}
.home h1 {
  width: fit-content;
  margin: 0;
  margin-bottom: 1em;
  color: transparent;
  font-size: 6em;
  font-weight: normal;
  letter-spacing: 0.1em;

  text-transform: uppercase;
  -webkit-text-stroke: 3px var(--color5);

  font-family: "Staatliches", cursive;
}

/* button */
.home .button {
  width: 10em;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--color5);
  padding: 1em 2em;
  border: 3px solid var(--color5);
  position: relative;
}
.home .button::before,
.home .button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all 0.5s;
}
.home .button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}
.home .button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}
.home .button:hover::before,
.home .button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

.overview {
  /* margin-top: 1em; */
  padding: 5em auto;
  margin: 0 2em;

  color: black;
  /* text-shadow: #272b73; */
  
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  
  /* text-align: ; */
  
  /* background: linear-gradient( var(--color1),var(--color3)); */
  background-size: cover;
  background-repeat: no-repeat;
}

.overview .leftside,
.overview .rightside {
  width: 50%;
  margin: 0;
  font-size: 1.25em;
}

.overview .leftside {
  margin: 0;
}

.overview .rightside {
  padding: 3em auto;
  text-align: center;
}

.overview .rightside img {
  margin: 0 auto;
  max-height: 300px;
}

p {
  text-align: justify;
}

aside {
  display: flex;
  flex-direction: column;

  max-width: 80%;
  margin: 2em auto;

  text-align: center;
  justify-content: space-around;
}

aside table {
  text-align: left;
  /* border: 1px solid black; */
  height: 80%;
  /* border-collapse: collapse; */
}

td,
th {
  /* border: 1px solid black;
    border-collapse: collapse; */
  padding: 0.25em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}

#whatis {
  text-align: center;
  padding: 5em 5em;
  margin: 0.5em 2em;

  display: flex;
  flex-direction: column;
}

#whatis p {
  text-align: justify;
  font-size: 1.25em;
}

blockquote {color:var(--color3);}

blockquote ul {
  padding: 0;
}

blockquote h3 {
  color: var(--color1);
}

#whatis img {
  max-width: 80%;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: var(--color1);
  color: var(--color4);

  font-weight: bold;

  padding: 2em;
}

@media screen and (max-width: 800px) {
  .overview {
    flex-direction: column;
    text-align: center;
    /* padding: 0; */
  }

  .overview .leftside,
  .overview .rightside {
    margin: 0;
    width: 100%;
  }

  #whatis {
    padding: 5em 2em;
  }

  #whatis img {
    max-width: 100%;
  }
}

@media screen and (max-width: 513px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li:hover {
    background-color: var(--color5);
  }

  nav ul li a:hover {
    color: var(--color1);
    border-bottom: none;
  }

  article {
    padding: 2.5em;
  }

  .home {
    padding: 2em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/rack-server.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .home h1 {
    text-align: center;
    font-size: 5em;
  }

  .home .button {
    margin: 0 auto;
  }

  .overview .leftside,
  .overview .rightside {
    width: 100%;
  }
}
